* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    text-align: center;
    background-color: #1C1C1C;
    margin-top: 3em;
}

header > h1 {
    margin: 1.5em auto;
    font-family: 'Montserrat', sans-serif;
    font-size: bold;
    color: rgb(255, 255, 255);
}

main {
    width: 20em;
    margin: auto;
}






input[type=text],
input[type=password],
input[type=email] {
    width: 100%;
    display: block;
    border-radius: 3px;
    margin: 0.5em auto;
    padding: 5px;
    height: 2.5em;
    text-align: left;
    background-color: #333333;
    border: none;
}

input[type=submit] {
    width: 50%;
    display: block;
    margin: 5em auto;
    color: #333333;
    font-weight: bold;
    margin-top: 3em;
    padding: 1em;
    background-color: #EFE865;
    border-radius: 3px;
    border: none;
}

input[type=submit]:hover {
    background-color: #FBDB35;
}

p {
    margin: 0.5em 0;
}

.instrucciones {
    margin: 2em auto;
}

.error {
    font-weight: bold;
    color: crimson;
}

p > a:hover {
    font-weight: bold;
}

p#oculto {
    display: none;
}

figure {
    width: 80%;
    max-width: 300px;
    margin: auto;
    text-align: center;
}

img {
    width: 100%;
}
